{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<div>
    <h3>Downloaders <button type="button" id="add-folder" class="bs-modal btn btn-sm btn-primary" data-form-url="{% url 'entities:downloader-create' %}"><i class="fa fa-fw fa-plus-circle"></i> Add Downloader</button></h3>
</div>
    <div class="card-columns">
{% for downloader in downloader %}
        <div id=downloader_info" class="card bg-dark text-white" style="width: 20rem;">

            <div class="card-header bg-primary"><h4 class="card-title">{{ downloader.name }}
                <button type="button" id="edit-downloader" class="bs-modal btn btn-sm btn-primary border-secondary" data-form-url="{% url 'entities:downloader-update' downloader.pk %}"><i class="fa fa-fw fa-pencil-alt"></i></button>
                <button type="button" id="test-downloader" class="bs-modal btn btn-sm btn-primary border-secondary" data-form-url="{% url 'entities:downloader-test' downloader.pk %}"><i class="fa fa-fw fa-fingerprint"></i></button>
                </h4>
            </div>
            <div class="card-body px-1">
                <div><b>URL:</b> {{ downloader. }}</div>
                <div><b>Label:</b> {{ manager.label }}</div>
                <div><b>Folder:</b> {{ manager.folder }}</div>
            </div>
        </div>
{% endfor %}
    </div>
{% endblock %}